<!DOCTYPE html>
<html lang="en"  ng-app="weatherApplication">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script  src="angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.30/angular-ui-router.min.js" integrity="sha512-HdDqpFK+5KwK5gZTuViiNt6aw/dBc3d0pUArax73z0fYN8UXiSozGNTo3MFx4pwbBPldf5gaMUq/EqposBQyWQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>
        Weather Application
    </title>
    <link rel="icon" href="images/weather-news(1).png" type="image/icon type">
</head>
<body>
    <div ng-controller="WeatherAppController">
        <div class="header col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img src="images/weather-news(1).png" alt="">
            <span class="heading">Weather Updates</span>
        </div>
            <div class="maincontainer col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar  col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="country" ng-class="SelectCountry === 'India' ? 'tab-selected' : tab-unselected" ng-click="selectCountry('India')">India</div>
                        <div class="country" ng-class="SelectCountry === 'America' ? 'tab-selected' : tab-unselected" ng-click="selectCountry('America')">America</div>
                        <div class="country" ng-class="SelectCountry === 'UK' ? 'tab-selected' : tab-unselected" ng-click="selectCountry('UK')">UK</div>
                        <div class="country" ng-class="SelectCountry === 'France' ? 'tab-selected' : tab-unselected" ng-click="selectCountry('France')">France</div>
                        <div class="country" ng-class="SelectCountry === 'Germany' ? 'tab-selected' : tab-unselected" ng-click="selectCountry('Germany')">Germany</div>
                </div>
                <div class="weatherStatus col-lg-11 col-md-11 col-sm-11 col-xs-11">
                    <div class="texts" ng-show="SelectCountry != ''">Weather update of major cities in {{SelectCountry}}</div>
                    <div class="texts texts-start" ng-show="SelectCountry == ''">Please select a country to see the weather updates of its major cities</div>
                    <div class=" stateCon col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <div ng-hide = 'error'class = 'state col-lg-3 col-md-3 col-sm-3 col-xs-3' ng-repeat = 'item in TempList track by $index'>
                            <div class="display-col"><span class="city">{{item.item[0]}}</span><span>{{item.item[1]}}°c</span><span>{{item.item[3]}}</span></div>
                            <img class="Weathericons" src="{{item.item[2]}}" alt ='no img'/>  
                        </div>
                        <div class = 'texts texts-start' ng-show="error">We are currently facing some issue<br>Please Try again later</div>
                    </div>
                </div>
            </div>
    </div>
<script type="text/javascript" src="app.module.js"></script>
<script type="text/javascript" src="controller.js"></script> 
<script type="text/javascript" src="services.js"></script> 
</body>
</html>